@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pOppins, sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-color: #f2f2f2;
}
.nav{
    border-bottom: 1px solid #e0e0e0;
}
.nav__container{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.nav__list{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}

.nav__link{
    text-decoration: none;
    font-size: 1.3rem;
    color: #1d2fcf;
}

.nav__link::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1d2fcf;
    transition: all .3s ease;
    clip-path: circle(0% at 50% 50%);
}

.nav__link:hover::after{
    clip-path: circle(150% at 50% 50%);
}


.logo{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    align-self: center;
    font-family: Poppins, sans-serif;
    background-color: #1d2fcf;
    color: white;
    padding: 5px 14px;
    position: relative;
}


.logo::after,.logo::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1d2fcf85;
    top: -5px;
    left: -5px;
    position: absolute;
    z-index: -1;
    
}

.logo::before{
    top: 5px;
    left: 5px;
    background-color: #096bfd81;
}

.title{
    font-size: 1.8rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #1d2fcf;

}
/*--------------HERO----------------*/

.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: calc(100vh - 80px);
    overflow: hidden;
}

.hero__figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    
}

.hero__img{
    transform: translatex(-150%);
    animation: figure .7s ease-in-out forwards;
}

@keyframes figure {

    to{
        transform: translatex(0);
    }
}

.hero__img{
    max-width: 800px;
    width: 90%;
}

.hero__texts{
    background: linear-gradient(135deg, #2E31FF 0%, #1A1C99 100%);
    color: #ffffff;
    display: flex;
    align-items: end;
}

.hero__title{
    font-size: clamp(2rem, 4vw, 4rem);
    margin-left: 50px;
    font-family: 'Rubik Mono One', monospace;
    margin-bottom: 100px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    transform: translatex(150%);
    animation: texto__hero .7s .5s ease forwards;
}

@keyframes texto__hero {
    from{
        transform: translatex(200%);
    }
    to{
        transform: translatex(0);
    }
}

.hero__span{
    font-size: 1.5rem;
    font-weight: normal;
    color: #f2f2f2;
    font-family:'Rubik Mono One', monospace;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

/************INTRODUCCION***************/


.introduccion{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    margin:50px auto;
}

.introduccion__img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    order: -1;
    grid-column: 1 / 7;
    grid-row: 1/-1;
    
}

.introduccion__title{
    margin-bottom: 0;
}

.introduccion__texts{
    background-color: #fff;
    box-shadow: 10px 15px 3px #17183d52;
    padding:  40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    line-height: 1.5;
    text-align: justify;
    grid-column: 3/9;
    grid-row: 2/-2;
    
}

/*------------MAIN-------------*/
/*-----------DATA BAR ----------------*/

.data-bar{
    background: linear-gradient(135deg, #2E31FF 0%, #1A1C99 100%);
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: all .3s ease;
}

.data-bar:hover{
    box-shadow: 0px 15px 3px rgba(23, 24, 61, 0.432);
    transform: scale(1.05);
    
}

.data-bar__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-align: center;
    flex: 1;
}

.db__img{
    color: white;
    width: 100px;
}






.data-bar__container{
    background-color:#2109fd;
    min-height: 100px;
    padding: 20px 0;
}

.card__container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}


.card__figure{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.card__img{
    max-width: 100%;
    max-height: 100%;
}
.card{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(2,1fr) ;
    place-content: center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    flex:350px;
    transition: all .3s ease;
}

.card:hover{
    transform: translateY(-5px) ;
    box-shadow: 0 2px 5px rgba(19, 34, 66, 0.342);
}


.card__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    
}    
.cards__title{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin: 50px 0;
    color: #1d2fcf;
}

.card__title{
    font-size: 1.7rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #1d2fcf;
}

.card__paragraph{
    flex-grow: 1;
    max-width: 450px;
}

.card__cta{
    text-decoration: none;
    border: 2px solid #2109fd;
    color: #2109fd;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
    z-index: 1;
    margin-top: auto;
}


.card__cta::after{
    content: '';
    display: grid;
    place-content: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #2109fd;
    top: 0;
    left: 0;
    position: absolute;
    transform: translateX(-100%);
    transition: all .3s ease;
    z-index: -1;
}
.card__cta:hover::after{
    transform: translateX(0);
}
.card__cta:hover{
    color: white;
}




/*------------------------FOOTER--------------------*/

.footer{
    background-color: #161844f5;
    height: 200px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    

}







@media screen and (max-width:800px) {
    .hero{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }

    .hero__texts{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        
        
    }

    .hero__title{
        margin: 0;
    }

    .hero__title{
        margin-bottom: 0;
    }

    .data-bar{
        flex-direction: column;
        width: 90%;
        gap: 50px;
    }

    .introduccion{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 1fr;
    }


    .introduccion__img{
        grid-column: 1/-1;
        grid-row: 1/2;
        border-radius: 0;
        height: 100%;
    }

    .introduccion__texts{
        grid-column: 1/-1;
        grid-row: 2/3;
        border-radius: 0;
        padding: 20px;
    }

    .card__container{
        flex-direction: column;
        width: 90%;
    }



}