

.hero{
    height: 50vh;
    width: 100%;
    background: linear-gradient(135deg, #2E31FF 0%, #1A1C99 100%);
    max-height: 250px;
    overflow: hidden;
    color: #b3b3e6;
    
}

.hero__container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 5px;
    transform: translateX(-100%);
    animation: titulo-move 1s ease forwards;
}

@keyframes titulo-move {
    to {
        transform: translateX(0);
    }
    
}

.hero__title{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px #00000080;
    color: white;
}
.tools__cards{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.tool__card{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;

}

.tool__card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
}

.card__figure{
    width: 90%;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__img{
    width: 100%;
    height: 100%;
}

.card__texts{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.card__title{
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}
.card__type{
    font-size: .8rem;
    color: white;
    background-color: #2E31FF;
    width: max-content;
    align-self: center;
    padding: 3px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;;
    
}


/*------------------PAG02------------------*/
.ejem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.ejem__card{
    padding-bottom: 10PX;
    margin: 25px auto;
    background-color: white;
    padding: 20px;
    padding-left: 25px;
    border-left: 10px solid #2E31FF;
    margin: 10px auto;
    box-shadow: 0 4px 8px #0000001a;
    position: relative;
    transition: all .3s ease;
    
}

.ejem__text{
    line-height: 1.5;
    text-align: justify;
    font-size: 1.2rem;
}

.ejem__title{
    margin: 15px 0 10px 0 ;
}

.ejem__card:nth-of-type(1),
.ejem__card:nth-of-type(2){
    background-color: rgba(30, 255, 169, 0.596);
    border-left: 10px solid #096679;
    color: #096679;
}
.ejem__card:nth-of-type(1) .ejem__title,
.ejem__card:nth-of-type(2) .ejem__title{
    color: #095f58;
}

.ejem__card:nth-of-type(1) .badge,
.ejem__card:nth-of-type(2) .badge{
    background-color: #096679;
}

.ejem__card:nth-of-type(3),
.ejem__card:nth-of-type(4){
    background-color: #fff34abd;
    border-left: 10px solid #aaa708;
    color: #6b6105;
}
.ejem__card:nth-of-type(3) .ejem__title,
.ejem__card:nth-of-type(4) .ejem__title{
    color: #aaa708;
}

.ejem__card:nth-of-type(3) .badge,
.ejem__card:nth-of-type(4) .badge{
    background-color: #aaa708;
}

.ejem__card:nth-of-type(5),
.ejem__card:nth-of-type(6){
    background-color: #e41111d2;
    border-left: 10px solid #9b0a05;
    color: white;
}
.ejem__card:nth-of-type(5) .ejem__title,
.ejem__card:nth-of-type(6) .ejem__title{
    color: #700a07;
}

.ejem__card:nth-of-type(5) .badge,
.ejem__card:nth-of-type(6) .badge{
    background-color: #9b0a05;
}

.ejem__card:nth-of-type(5) .ejem__text,
.ejem__card:nth-of-type(6) .ejem__text{
    color: rgb(90, 5, 5);
}

.ejem__card:nth-of-type(7),
.ejem__card:nth-of-type(8){
    background-color: #6c11e4d2;
    border-left: 10px solid #33066d;
    color: white;
}
.ejem__card:nth-of-type(7) .ejem__title,
.ejem__card:nth-of-type(8) .ejem__title{
    color: #33066d;
}

.ejem__card:nth-of-type(7) .badge,
.ejem__card:nth-of-type(8) .badge{
    background-color: #33066d;
}

.ejem__card:nth-of-type(7) .ejem__text,
.ejem__card:nth-of-type(8) .ejem__text{
    color: rgb(51, 4, 70);
}






.ejem__card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #00000033;
    transition: all .3s ease;
}




.badge{
    background-color: #3033dd;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 3px 10px;
    width: max-content;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    ;

}


