

.hero{
    height: 50vh;
    width: 100%;
    background: linear-gradient(135deg, #2E31FF 0%, #1A1C99 100%);
    max-height: 250px;
    overflow: hidden;
    color: #b3b3e6;
    
}

.hero__container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 5px;
    transform: translateX(-100%);
    animation: titulo-move 1s ease forwards;
}

@keyframes titulo-move {
    to {
        transform: translateX(0);
    }
    
}

.hero__title{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px #00000080;
    color: white;
}
.tools__cards{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.tool__card{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;

}

.tool__card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
}

.card__figure{
    width: 90%;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__img{
    width: 100%;
    height: 100%;
}

.card__texts{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.card__title{
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}
.card__type{
    font-size: .8rem;
    color: white;
    background-color: #2E31FF;
    width: max-content;
    align-self: center;
    padding: 3px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;;
    
}



