
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
.title{
    background-color: none;
}

.hero{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 50vh;
    gap: 2rem;
}

.hero__figure{
    
    grid-column: 1/-1;
    grid-row: 1/-1;
    background-image: linear-gradient(#0a1fdd94,#b700ff73), url('../img/fondo_intro.jpg');
    background-size: cover;
    background-position: center;
}
.hero__img{
    max-width: 700px;
    display: none;
}

.hero__texts{
    grid-column: 2/-2;
    grid-row: 2/-2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.hero__title{
    font-family: Montserrat,monospace;
    letter-spacing: 2px;
    font-size: clamp(2rem, 5vw, 4rem);
}

.hero__span{
    font-size: clamp(1rem, 3vw, 2.5rem);
}


.data-bar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 40px auto;
    font-weight: bold;
}
.data-bar__item{
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    background-image: linear-gradient(135deg, #7619f0 0%, #2d12c5 100%);
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    gap: 10px;
    box-shadow: 15px 15px 3px #1b1b1b54;
}

.data-bar__item:nth-of-type(2){
    background-image:linear-gradient(135deg, #f472b6 0%, #a855f7 100%)
}
.data-bar__item:nth-of-type(3){
    background-image: linear-gradient(135deg, #2dd4bf 0%, #0ea5e9 100%)
}

.db__img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.introduccion__texts{
    background-image: linear-gradient(rgba(109, 30, 255, 0.726),#0228fc93),url("../img/hero_02.jpg");
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-shadow: 0px 0px 10px black;
}

.introduccion__title{
    font-family: Montserrat,sans-serif;
    font-size: clamp(1rem, 3vw, 1.8rem);
    margin-bottom: 10px;
    text-align: center;
}

.introduccion__paragraph{
    max-width: 700px;
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
}








@media screen and (max-width:800px) {
    .data-bar{
        grid-template-columns: 1fr;
    }
}