*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/path_sub.png");
    animation: moverFondo 10s linear infinite;
    position: relative;
    
}

.btn__home{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0703f0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Lato, sans-serif;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    transition: background-color 0.3s ease;
    position: fixed;
    top: 20px;
    right: 20px;
}

.btn__home:hover{
    background-color: #0356f0;
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: dodgerblue;
    background: linear-gradient(45deg, #0703f0, #6dff9d);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.hero__subtitle{
    font-family: Lato, sans-serif;
    font-size: clamp(1rem, 3vw, 1.8rem);
    margin-bottom: 20px;
}

.hero__title{
    font-family: Montserrat, sans-serif;
    font-size: clamp(2rem, 5vw, 4rem);
    margin: 30px auto;
}

.tools__cards{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,330px);
    margin-top: 30px;
    grid-template-areas:
        "python     python     r          pandas"
        "python     python     numpy      pandas"
        "matplotlib seaborn    numpy      tensorflow"
        "sql        sql        scikit     tensorflow";
}

.tool__card{
    background-color: #fafafa;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #1b1b1b69;
    position: relative;
}

.tool__card:nth-child(1){
    grid-area: python;
}

.tool__card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px #5c5c5c69;
    background-color: white;
}

.tool__card:nth-child(2){
    grid-area: r;
}

.tool__card:nth-child(3){
    grid-area: pandas;
}

.tool__card:nth-child(4){
    grid-area: numpy;
}

.tool__card:nth-child(5){
    grid-area: matplotlib;
}

.tool__card:nth-child(6){
    grid-area: seaborn;
}

.tool__card:nth-child(7){
    grid-area: scikit;
}

.tool__card:nth-child(8){
    grid-area: tensorflow;
}

.tool__card:nth-child(9){
    grid-area: sql;
}



.card__figure{
    width: 65%;
    height: 50%;
    margin-top: 15px;
    
}

.card__img{
    width: 100%;
    height: 100%;
    
}

.card__texts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-top: 10px;
}

.card__title{
    font-family: Montserrat, sans-serif;
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    color: #1b17f8;
    
}

.card__type{
    font-family: Lato, sans-serif;
    font-size: clamp(0.6rem, 1.8vw, 1.1rem);
    color: white;
    background-color: #0703f0;
    padding: 5px;
    border-radius: 5px;
}

.card__description{
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    color: #353535; 
}

@keyframes moverFondo {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 200PX;
    }
}

@media screen and (max-width:800px) {
    .tools__cards{
        
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 250px);
        grid-template-areas:
            "python"
            "r"
            "pandas"
            "numpy"
            "matplotlib"
            "seaborn"
            "scikit"
            "tensorflow"
            "sql";
        width: 100%;
    }
}